html{
  background-color:#87ceeb;
}
h1,h3,p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:white;
}
div{
  width: 300px;
  border: 15px solid #99ffcc;
  padding: 50px;
  margin: 20px;
}
