html{
  background-color:#87ceeb;
}
col-sm-4,h1,h3,p,u{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:white;
  width: 300px;
  border: 15px solid #99ffcc;
  padding: 50px;
  margin: 20px;
}
